html {
    font-family: Roboto,Helvetica,sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    border: 1px solid #CCC;
}

td.highestSellingPrice, td.lowestBuyingPrice {
    background-color: #99CCFF;
}